// Debes importar las variables que usas
@import 'variables';
@import 'listas';

%titulos {
  padding-top: 30px;
  margin: $margin-menor;
  font-size: $font-size-titulos;
  // color: nth($colores, 5);
  color: nth($text-colores, 1);
  font-family: 'Roboto', sans-serif;
}

%titulo-footer { font-size: 17px;  color: nth($text-colores, 1);
  font-family: 'Roboto', sans-serif; margin-bottom: 60px; margin-left: 70px; display: flex; justify-content: right;}

%parrafos {
  font-family: 'Poppins', sans-serif;
  font-size: $font-size-parrafos;
  // color: nth($colores, 4);
  color: nth($text-colores, 3);
  margin: $margin-general;
  display: flex;
  justify-content: center;
}


.titulos {
  @extend %titulos;
}

.parrafos {
  @extend %parrafos;
}

.titulo-footer { @extend %titulo-footer}

