$font-size-titulos: 40px;
$font-size-enorme: 50px;
$font-size-parrafos: 20px;
$padding-general: 10px 10px;
$padding-general-dos: 20px 20px;
$margin-general: 30px  30px;
$margin-menor: 10px 10px;
$font-size-nav: 20px;
$margin-sections: 80px;



