// variables ;
@import 'listas';
@import 'variables';
@import 'extends';
@import 'mixins';

// typografias ;
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@1,500&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body { background-image: url("../multimedia/3d-blanco-esfera.jpg"); 
  background-repeat: no-repeat; width: 100%; height: auto; background-attachment: fixed;}



.logoG4bit {
  display: flex;
  justify-content: left;
  margin-left: 60px;
}


.titulo-header {  font-family:'Roboto', sans-serif; font-size: $font-size-nav; margin: $margin-menor;}

header {
  width: 100%;
  nav {
    ul {
      li {
        a {
          font-family: 'Roboto', sans-serif;
          &:hover {
            background-color: nth($bg-colores, 4);
            border-radius: 12px;
            padding: $padding-general;
          }
          text-decoration: none;
          color: nth($text-colores, 4);
        }
      }
    }
  }
}




.titulos {
  &:hover {
    transform: translate(10px, 10px);
    transition: all 1s ease-in-out;
  }
}

h1 { color: nth($text-colores, 1 );
  font-size: $font-size-titulos;
  text-decoration: none;
  font-family:'Roboto', sans-serif;
  display: flex; align-items: flex-start;
  margin-right: 800px;
  margin-left: 150px;
   
}

#sectionOne { height: 50vh; 

}



.parrafoAboutme { display: flex; justify-content: center; }


.box {
  
  border-radius: 6px;
  color: nth($bg-colores, 4);
  height: 400px;
  width: 500px;
  margin: 60px auto;

}
.box3 {
  
  border-radius: 6px;
  color: nth($bg-colores, 4);
  height: 600px;
  width: 500px;
  padding: 50px 500px; 
  display: flex; justify-content: center;
  
 
}

.box2 { border-radius: 6px;
  color: nth($bg-colores, 4);
  height: 300px;
  width: 500px;
  margin-right: 100px;
}

.boton { margin:30px 90px;}  

.titulos-packs { margin: $margin-general ; text-align: center;}

.encabezado-pack { display: flex; }

.parrafo-promo {  padding-left: 90px; font-size: 26px; margin: $margin-general; display: flex; align-items: center;}


.parrafo-pack { position: relative; display: flex; align-items: center;}

.image-medio { margin-top: 100px;margin-left: 50px; }

.video { margin-top: 100px;}


 
 .grupo-2 { padding: 15px 10px; display: flex; align-items: center;
text-align: center; }

footer { height: auto; width: 100w; font-family: 'Poppins', sans-serif;
padding-top: 40px;color: nth($text-colores, 4 );}
.footer-content { display: flex;
align-items: center;
justify-content: center; flex-direction: column;
text-align: center}


.footer-content img { width: 30px;
height: auto;
}

.footer-content p { max-width: 500px;
margin: 10px auto;
line-height: 28px;
font-size: 14px;
}

.socials { list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin:1rem 0 3rem 0 }

.socials li { margin: 0px 10px;
}

.footer-bottom { width: 100vw;
padding: 20px opx;
text-align: center;
}

footer-bottom small{ word-spacing: 2px;
text-transform: capitalize;}




.contacto {
  text-shadow: rgb(82, 82, 83);
  text-decoration: none;
}


.f1 {
  margin: $margin-general;
}

.formulario {
  display: flex;
  justify-content: center;
 
}



